/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;

}

/* COMMON ------------------------------------------------------------------- */

:root{
    --border: 1px dashed black;
    /* colors */
    --Mgrey:#D3D3D3;
    /* footer colors */
    --Fpink:#FFB6C1;
    --Fazure:#20B2AA;
    --Fsalmon:#F08080;
    --Faqua:#7CF8CE;
    --FGrey:#23272A;

    /*  Wrappers heights */
    --height-HM: 220px;
    --height-M: 500px;
    --height-M2: 600px;
    --height-F: 400px;
    --height-f1:50px;

    /*wrapper widht*/
    --width-W:60%;

}

body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    background-color: #fff;
}

ul{
    list-style-type: none;

}

a{
    text-decoration: none;
    color: inherit;
    
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
/* Wrappers layouts------------------------------------------------------------ */
.header-wrapper{
    width: var(--width-W);
    margin: 0 auto;
   
}

.wrapper-header-main{
    height: var(--height-HM);
    width: var(--width-W);
    padding: 1.5rem 0 ;
   
}

.wrapper-footer{
    display: flex;
    height: var(--height-F);
    width: var(--width-W);
    margin: 0.3rem 0 1rem 0;
}

.wrapper-footer2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height-f1);
    width: var(--width-W);
    margin: 0.5rem 0 0 0;
    border-top: 2px solid #5865f2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* buttons Layout -------------------------------------------------------------------*/
.bton{
    padding: 0.7rem 1rem;
    border-radius: 30px;
}
.bton:hover{
    box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.215);
    background-color:#5865f2;
    color: #fff;
    transition: 500ms;
    cursor: pointer;
    
}
/* buttons styling  -----------------------------------*/
.white-btn{
    color:black;
    background-color: #fff;
}

.black-btn{
    color:#fff;
    background-color: #23272A;

}

.purple-btn{
    color: black;
    background-color: #5865f2;
}

/* typography--------------------------------------------------------------------- */
h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

main ,
.last-row-text 
p {
    font-size: 1rem;
    line-height: 2em;
 
}

/* Header section --------------------------------------------------------------------*/

header{
    color: #FFFFFE;
    background-color:#255EE9 ;
   
}

section.main-header{
    background-image: url(../img/jumbo.png);
    background-size: 100% 100%;
    min-height: 60vh;

}

.header-nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    
}

.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
   
}   

.logo{
    padding-left: 0.2rem;
    width: 20%;
    
}


.navbar li{
    display: inline-block;
    margin-right: 3px;
    font-size: 18px;

}

.navbar li a:hover{
    color: #23272A;
}

.navbar .links{
    text-align: center;
    width: 60%;

}

.login{
    line-height: 20px;
    width: 20%;
    text-align: right;
    padding-right: 0.3rem;
    
}


/* Main-Header Styling---------------------------------------------------------------- */

.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.jumbo-text{
    text-align: center;
    margin-bottom: 2rem;
    line-height: 3vh;
    
}

.jumbo-text h1{
    font-weight: 700;
    margin-bottom: 5vh;
    font-size: 7vmin;
    line-height:4rem;

}

.jumbo-text p{
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    max-width: 700px;
    align-self: center;

}

.jumbo-btn a{
    margin: 1rem;

}

/* MAIN section layout------------------------------------------------------------------------- */
.main-section1{
    background-color: var(--Mgrey);
    padding-bottom: 11%;
    
}

.wrapper-main{
    display: flex;
    align-items: flex-start;
    height: var(--height-M);
    width: var(--width-W);
    margin: 1rem auto;
    
}
.wrapper-main1{
    display: flex;
    flex-direction: row-reverse;
    height: var(--height-M);
    width: var(--width-W);
    margin: 1rem auto;
   
}

.wrapper-main2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: var(--height-M2);
    width: var(--width-W);
    margin: 1rem auto;

}

/* MAIN section
 Styling---------------------------------------------------- */

/* wawes */
.wawe{
    margin: -3px;

}
.wawe-rotated{
    transform: rotate(-180deg);
    margin: -3px;

}

/* first 3 sections with 3 rows */
.box2{
    text-align: center;
    width: 100%;

}

.box3{
    width: 55%;
    padding-top: 1.5rem;

}

/* second section with bigger row */
.last-row-text{
    text-align: center;

}

.last-row-text img{
    max-height: 350px;

}

.last-row-footer{
    text-align: center;

}

.last-row-footer a{
    display: inline-block;
    margin-top: 2rem;
    
}

/* Footer Layout-------------------------------------------------------------------------- */

.footer-section{
    background-color: var(--FGrey);
    
}
/* Footer 
styling--------------------------------------------------- */

/* footer section 1 styling */
.box5{
    width: 30%;
    background-color: var(--Fsalmon);
    border: var(--border);
}

.box6{
    background-color: var(--Fazure);
    width: 20%;
    /* debug */
    border: 1px dashed white;
}

/* footer section 2 */







/*Responsive-CSS-------------------------------------------------------------------- */

@media (min-width: 1500px) and (max-width: 3000px){
    .jumbo-text h1{
        font-size: 4vmax;

    }

   
}
@media (min-width: 1500px) and (max-width: 1900px){
    section.main-header{
        min-height: 40vh;

    }
}

@media only screen and (max-width: 1500px){
    :root{
        --width-W:85%;

    }
    
    section.main-header{
        background-size: cover;

    }

     /* readability of paragraph */
    
    .jumbo-text p{
        text-shadow: 0px 0px 6px  black;      
        background-image: linear-gradient(360deg, rgba(0,0,0,0.1),rgba(0,0,0,0.0));
        border-radius: 25px;
        padding: 1vh;

    }

}
@media only screen and (max-width: 980px){
    .navbar li{
        display: inline-block;
        margin-right: 1px;
        font-size: 12px;
    
    }

    .wrapper-main {
        align-items: center;

    }
    
}

@media only screen and (max-width: 800px){
    section.main-header{
        min-height: 40vh;
    }
    
    h2{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .box3,
    .last-row-text
    p{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 700px){
    
    section.main-header{
        background-size: cover;
    }
    
}

@media only screen and (max-width: 550px){
    .jumbo-btn a{
        display: block;
        margin-bottom: 3rem;

    }
    .jumbo-btn{
        padding-top:5rem ;
       
    }

}

